body {
  background-image: ![Translational_Research](https://github.com/MINGYUK/aumc_research.github.io/assets/135110842/f26723c7-f3b1-4ab5-9db2-478d5f72f5bb);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
